<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="chat-container">
        <h2>Write New Chat</h2>
        <form method="post" action="/chats">
            <input class="chat-input" placeholder="Who are you" name="from" type="text"><br>
            <textarea class="chat-textarea" placeholder="Write your message here" name="msg"></textarea><br>
            <input class="chat-input" placeholder="Add receiver" name="to" type="text"><br>
            <button class="chat-button" type="submit">Create Chat</button>
        </form>
    </div>
</body>
</html>
